HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/.nb-gradle/
/build/

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

.DS_Store
ui/ode_modules/
ui/dist/
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*
ui/package-lock.json
ui/tests/**/coverage/